/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

behaviors {
    u_mt: u_mt {
      compatible = "zmk,behavior-hold-tap";
      label = "u_mt";
      #binding-cells = <2>;
      tapping_term_ms = <200>;
      flavor = "tap-preferred";
      bindings = <&kp>, <&kp>;
    };
    u_lt: u_lt {
      compatible = "zmk,behavior-hold-tap";
      label = "u_lt";
      #binding-cells = <2>;
      tapping_term_ms = <200>;
      flavor = "tap-preferred";
      bindings = <&mo>, <&kp>;
    };
  };

/ {
  keymap {
    compatible = "zmk,keymap";
    default_layer {
      label = "Colemak";
      bindings = <
//    ┌───┬──────────────┬─────────────┬─────────────┬──────────────┬────────┐                 ┌───────┬──────────────┬─────────────┬─────────────┬──────────────┬───┐
//    │   │       Q      │      W      │      F      │       P      │    B   │                 │   J   │       L      │      U      │      Y      │       ;      │   │
//    ├───┼──────────────┼─────────────┼─────────────┼──────────────┼────────┤                 ├───────┼──────────────┼─────────────┼─────────────┼──────────────┼───┤
//    │   │ u_mt LCTRL A │ u_mt LALT R │ u_mt LGUI S │ u_mt LSHFT T │    G   │                 │   M   │ u_mt LSHFT N │ u_mt LGUI E │ u_mt LALT I │ u_mt LCTRL O │   │
//    ├───┼──────────────┼─────────────┼─────────────┼──────────────┼────────┤                 ├───────┼──────────────┼─────────────┼─────────────┼──────────────┼───┤
//    │   │       Z      │      X      │      C      │       D      │    V   │                 │   K   │       H      │      ,      │      .      │       /      │   │
//    └───┴──────────────┴─────────────┴─────────────┼──────────────┼────────┼──────┐   ┌──────┼───────┼──────────────┼─────────────┴─────────────┴──────────────┴───┘
//                                                   │      ESC     │  SPACE │  TAB │   │  RET │  BSPC │      DEL     │                                               
//                                                   └──────────────┴────────┴──────┘   └──────┴───────┴──────────────┘                                               
  &none   &kp Q           &kp W          &kp F          &kp P           &kp B                               &kp J      &kp L           &kp U          &kp Y          &kp SEMI        &none
  &none   &u_mt LCTRL A   &u_mt LALT R   &u_mt LGUI S   &u_mt LSHFT T   &kp G                               &kp M      &u_mt LSHFT N   &u_mt LGUI E   &u_mt LALT I   &u_mt LCTRL O   &none
  &none   &kp Z           &kp X          &kp C          &kp D           &kp V                               &kp K      &kp H           &kp COMMA      &kp DOT        &kp FSLH        &none
                                                        &kp ESC         &kp SPACE   &kp TAB       &kp RET   &kp BSPC   &kp DEL                                                            
      >;
    };
    lower_layer {
      bindings = <
//    ┌───┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┐                   ┌───────┬───────┬───────┬────────┬───────┬───┐
//    │   │      1      │      2      │      3      │      4      │      5      │                   │   6   │   7   │   8   │    9   │   0   │   │
//    ├───┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                   ├───────┼───────┼───────┼────────┼───────┼───┤
//    │   │ bt BT_SEL 0 │ bt BT_SEL 1 │ bt BT_SEL 2 │ bt BT_SEL 3 │ bt BT_SEL 4 │                   │  LEFT │  DOWN │   UP  │  RIGHT │ trans │   │
//    ├───┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                   ├───────┼───────┼───────┼────────┼───────┼───┤
//    │   │    trans    │    trans    │    trans    │    trans    │    trans    │                   │ trans │ trans │ trans │ trans  │ trans │   │
//    └───┴─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼────────┐   ┌──────┼───────┼───────┼───────┴────────┴───────┴───┘
//                                                  │     LGUI    │    trans    │  SPACE │   │  RET │ trans │  RALT │                             
//                                                  └─────────────┴─────────────┴────────┘   └──────┴───────┴───────┘                             
  &none   &kp N1         &kp N2         &kp N3         &kp N4         &kp N5                                   &kp N6     &kp N7     &kp N8   &kp N9      &kp N0   &none
  &none   &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3   &bt BT_SEL 4                             &kp LEFT   &kp DOWN   &kp UP   &kp RIGHT   &trans   &none
  &none   &trans         &trans         &trans         &trans         &trans                                   &trans     &trans     &trans   &trans      &trans   &none
                                                       &kp LGUI       &trans         &kp SPACE       &kp RET   &trans     &kp RALT                                      
      >;
    };
    raise_layer {
      bindings = <
//    ┌───┬───────┬───────┬───────┬───────┬────────┐                   ┌────────┬────────┬──────────────┬───────┬───────┬───┐
//    │   │  EXCL │   AT  │  HASH │  DLLR │  PRCNT │                   │  CARET │  AMPS  │  KP_MULTIPLY │  LPAR │  RPAR │   │
//    ├───┼───────┼───────┼───────┼───────┼────────┤                   ├────────┼────────┼──────────────┼───────┼───────┼───┤
//    │   │ trans │ trans │ trans │ trans │ trans  │                   │  MINUS │  EQUAL │     LBKT     │  RBKT │  BSLH │   │
//    ├───┼───────┼───────┼───────┼───────┼────────┤                   ├────────┼────────┼──────────────┼───────┼───────┼───┤
//    │   │ trans │ trans │ trans │ trans │ trans  │                   │  UNDER │  PLUS  │     LBRC     │  RBRC │  PIPE │   │
//    └───┴───────┴───────┴───────┼───────┼────────┼────────┐   ┌──────┼────────┼────────┼──────────────┴───────┴───────┴───┘
//                                │  LGUI │ trans  │  SPACE │   │  RET │ trans  │  RALT  │                                   
//                                └───────┴────────┴────────┘   └──────┴────────┴────────┘                                   
&none   &kp EXCL   &kp AT   &kp HASH   &kp DLLR   &kp PRCNT                             &kp CARET   &kp AMPS    &kp KP_MULTIPLY   &kp LPAR   &kp RPAR   &none
&none   &trans     &trans   &trans     &trans     &trans                                &kp MINUS   &kp EQUAL   &kp LBKT          &kp RBKT   &kp BSLH   &none
&none   &trans     &trans   &trans     &trans     &trans                                &kp UNDER   &kp PLUS    &kp LBRC          &kp RBRC   &kp PIPE   &none
                                        &kp LGUI   &trans      &kp SPACE       &kp RET   &trans      &kp RALT                                                 
      >;
    };
  };
};
